@media (max-width: 1600px){
  div.alertHeading h1{
    font-size: 50px;
  }
  .alertTitle {
      font-size: 40px;
  }
  button{
    font-size:25px;
  }
}
@media (max-width: 1200px){
  div.alertHeading h1{
    font-size: 40px;
  }
  .alertTitle {
      font-size: 30px;
  }

  .info {
      font-size: 30px;
  }
  button{
    font-size:15px;
  }
}
@media (max-width: 768px){
  div.alertHeading h1{
    font-size: 30px;
  }
  .alertTitle {
      font-size: 20px;
  }
  .info {
      font-size: 20px;
  }
  button{
    font-size:10px;
  }
}
@media (max-width: 530px){
  div.alertHeading h1{
    font-size: 20px;
  }
  .alertTitle {
      font-size: 15px;
  }
  .info {
      font-size: 15px;
  }
  button{
    font-size:7px;
  }
}

.userLoggedInHome {
    font-size: 20px;
    font-weight: bold !important;

}

label {
    font-size: 20px;
    font-weight: bold !important;

}

input {
    font-size: 20px !important;
    min-height: 30px !important;
    font-weight: bold !important;

}

ul {
    font-size: 20px;
    font-weight: bold !important;

}

.alertMain {
    min-height: 100vh;
    font-weight: bold !important;
    background-color: #fffff;
}

.alertHeading {
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
	width: 100vw;
	display: inline-block;
	background-color: #9cd944;
	text-align: center;
  font-weight: bold !important;

}

.alertHeading h1 {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
	width: 50vw;
	display: inline-block;
	text-align: center;
	padding-bottom: 2vh;
  font-size: 50px;
  font-weight: bold !important;

}

.alertTitle {
    width: 100vw;
    text-align: center;
    font-weight: bold !important;

}

.read-alert {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
	background-color: rgb(230,230,230);
	/* padding-left: 3vw; */
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 2.5vw;
	margin-top: 2vh;
	box-shadow: 5px 5px 5px grey;
	display: inline-block;
	/* align-items: center; */
	text-align: center;
	width: 95vw;
  font-size: 20px;
  font-weight: bold !important;

}

.unread-alert {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
	background-color: rgb(230,230,230);
	/* padding-left: 3vw; */
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 2.5vw;
	margin-top: 2vh;
	box-shadow: 5px 5px 5px grey;
	display: inline-block;
	/* align-items: center; */
	text-align: center;
	width: 95vw;
  font-size: 20px;
  font-weight: bold !important;

}

.noAlerts {
	width: 100vw;
	text-align: center;
	padding-bottom: 5vh;
  font-size: 35px;
  font-weight: bold !important;

}

.findImage{
}
.sepLine{
  height: 1vh;
  background-color: white;
}
.whyUseGH{
  height: 90vh;
  background-color: #d6d4d3;
  font-weight: bold !important;

}
.giveImage{
  height: 60vh;
  font-weight: bold !important;

}
nav.navbar.navbar-default{
  border-radius: 0;
  font-weight: bold !important;

}
.navbar{
  border-radius: 0;
  font-weight: bold !important;

}
body{
  background-color: #2e2e2e;
  font-weight: bold !important;
}
