@media (max-width: 1600px){
  div.chatHeading h1{
    font-size: 50px;
  }
  div.messageDiv{
    font-size: 30px;
  }

}
@media (max-width: 1200px){
  div.chatHeading h1{
    font-size: 40px;
  }
  div.messageDiv{
    font-size: 20px;
  }
}
@media (max-width: 768px){
  div.chatHeading h1{
    font-size: 30px;
  }
  div.messageDiv{
    font-size: 15px;
  }
}
@media (max-width: 530px){
  div.chatHeading h1{
    font-size: 20px;
  }
  div.messageDiv{
    font-size: 10px;
  }

}
body{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
h3{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
h4{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.chatHeading{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 100vw;
  display: inline-block;
  background-color:#9cd944;
  text-align: center;
}
.chatHeading h1{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-size: 60px;
  width: 50vw;
  display: inline-block;
  text-align: center;
  padding-bottom: 2vh;
  font-weight: bold !important;

}
img{
  height: 20vw;
  width: 20vw;
  border-radius: 4px;
  font-weight: bold !important;

}
.userAndItem{
  text-align: center;
  margin-top: 2vh;
  font-weight: bold !important;

}
.formsAndMessages{
  text-align: center;
  margin-bottom: 2vh;
  font-weight: bold !important;

}
.messages{
  padding: 2vw;
  font-weight: bold !important;

}
.their-message{
  padding: 1vw;
  height: 22vw;
  font-weight: bold !important;

}
.our-message{
  padding: 1vw;
  height: 22vw;
  font-weight: bold !important;

}
#message-input{
  width: 90vw;
  display: inline-block;
  height: 5vh;
  font-weight: bold !important;

}
div.messageDiv{
  width: 70vw;
  display: inline-block;
  height: 20vw;
  float: right;
  text-align: left;
  font-weight: bold !important;

}
input{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
  width: 90vw;
  height: 6vh;
  border-width: 0;
  border-radius: 4px !important;
  box-shadow: 5px 5px 5px grey;
  background-color: #f2d75e;

}
#unreserveButton{
  background-color: #ED231F;
  width: 30vw;
  font-weight: bold !important;

}
/*
.findAndGive{
  height: 80vh;
  background-color: white;
}
.leftFind{
  height:80vh;
  float:left;
  width: 50vw;
  background-color: #9cd944;
  padding: 10vh;
  text-align: center;
}
.leftFind h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;
}
.rightGive{
  height: 80vh;
  width: 50vw;
  float:left;
  padding-bottom: 10vh;
  text-align: center;
}
.rightGive h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;

}
.whatIsGH{
  height:90vh;
  background-color: #d6d4d3;
}
.findImage{
  height:60vh;
}
.sepLine{
  height: 1vh;
  background-color: white;
}
.whyUseGH{
  height: 90vh;
  background-color: #d6d4d3;
}
.giveImage{
  height: 60vh;
}
*/