@media (max-width: 1600px){
  .chatInsides{
    font-size: 30px;
  }
  .chatHeading h1{
    font-size: 50px;
  }
  .messageTitle{
    font-size: 40px;
  }
  .noMessages{
    font-size: 35px;
  }
}
@media (max-width: 1200px){
  .chatInsides{
    font-size: 20px;
  }
  .chatHeading h1{
    font-size: 40px;
  }
  .messageTitle{
    font-size: 30px;
  }
  .noMessages{
    font-size: 25px;
  }
}
@media (max-width: 768px){
  .chatInsides{
    font-size: 15px;
  }
  .chatHeading h1{
    font-size: 30px;
  }
  .messageTitle{
    font-size: 20px;
  }
  .noMessages{
    font-size: 15px;
  }
}
@media (max-width: 530px){
  .chatInsides{
    font-size: 10px;
  }
  .chatHeading h1{
    font-size: 20px;
  }
  .messageTitle{
    font-size: 15px;
  }
  .noMessages{
    font-size: 10px;
  }
}
body{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.chatHeading{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 100vw;
  display: inline-block;
  background-color:#9cd944;
  text-align: center;
}
.chatHeading h1{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 50vw;
  display: inline-block;
  text-align: center;
  padding-bottom: 2vh;
}
.chatBody{
  min-height: 100vh;
  font-weight: bold !important;

}
.chatChat{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  background-color: rgb(230,230,230);
  /*padding-left: 3vw;*/
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 2.5vw;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  /*align-items: center;*/
  text-align: center;
  width: 95vw;
  font-weight: bold !important;

}
div.chatType{
  float: left;
  width: 95vw;
  font-weight: bold !important;

}
div.chatOtherUser{
  float: left;
  width: 30vw;
  font-weight: bold !important;

}

div.chatInformation{
  margin-top: 4vh;
  float: left;
  width: 35vw;
  font-weight: bold !important;

}
div.chatLastMessage{
  float: left;
  width: 35vw;
  font-weight: bold !important;

}
div.chatChat a{
  float: left;
  width: 35vw;
  margin: 0;
  font-weight: bold !important;

}
div.chatChat li{
  padding: 0;
  margin: 0;
  font-weight: bold !important;

}
div.chatChat img{
  height: 25vw;
  width: 25vw;
  font-weight: bold !important;

}
div.chatUserImage{

  width: 30vw;
  font-weight: bold !important;

}
div.itemImage{
  float: right;
  width: 30vw;
  font-weight: bold !important;

}
div.itemImage img{
  height: 25vw;
  width: 25vw;
  font-weight: bold !important;

}
div.noImageDiv{
  height: 25vw;
  width: 25vw;
  font-weight: bold !important;

}
.messageTitle{
  width: 100vw;
  text-align: center;
  font-weight: bold !important;

}
.noMessages{
  width: 100vw;
  text-align: center;
  padding-bottom: 5vh;
  font-weight: bold !important;

}
/*
.findAndGive{
  height: 80vh;
  background-color: white;
}
.leftFind{
  height:80vh;
  float:left;
  width: 50vw;
  background-color: #9cd944;
  padding: 10vh;
  text-align: center;
}
.leftFind h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;
}
.rightGive{
  height: 80vh;
  width: 50vw;
  float:left;
  padding-bottom: 10vh;
  text-align: center;
}
.rightGive h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;

}
.whatIsGH{
  height:90vh;
  background-color: #d6d4d3;
}
.findImage{
  height:60vh;
}
.sepLine{
  height: 1vh;
  background-color: white;
}
.whyUseGH{
  height: 90vh;
  background-color: #d6d4d3;
}
.giveImage{
  height: 60vh;
}
*/