
legend{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
input{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.add-createUser{
  background-color: #9cd944;
  height: 100vh;
  font-weight: bold !important;

}
fieldset{
  background-color: #9cd944;
  border-bottom: none;
  margin: 0px;
  font-weight: bold !important;

}

.add-info{
  height: 80vh;
  font-weight: bold !important;

}
fieldset legend{
  padding-left: 8vw;
  color: #2e2e2e;
  border: none;
  font-size: 40px;
  background-color: #9cd944;
  padding-bottom: 1vh;
  padding-top: 3vh;
  font-weight: bold !important;

}
input#username{
  width: 80vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;


}
input#email{
  width: 80vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;

}
input#password{
  width: 80vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;

}
input#postcode{
  width: 80vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;


}
input#passwordAnalysis{
  width: 80vw;
  height: 7vh;
  background-color: transparent;
  border-width: 0px;
  color: black;
  font-weight: bold !important;

}


div.input{
  padding-left: 10vw;
  font-weight: bold !important;

}
.button-container{
  width: 100vw;
  text-align: center;
  font-weight: bold !important;

}
.createUserButton{
  color: #2e2e2e;
  margin: 2vh;
  height: 7vh;
  width: 30vw;
  box-shadow: 5px 5px 5px grey;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
  background-color: #f2d75e;
  font-weight: bold !important;

}
body{
  font-weight: bold !important;
}