@media (max-width: 1600px){
  div.hofHeading h1{
    font-size: 50px;
  }
  th#tableHeading{
    font-size: 40px;
  }
  th#tableRow{
    font-size: 30px;
  }
}
@media (max-width: 1200px){
  div.hofHeading h1{
    font-size: 40px;
  }
  th#tableHeading{
    font-size: 30px;
  }
  th#tableRow{
    font-size: 25px;
  }

}
@media (max-width: 768px){
  div.hofHeading h1{
    font-size: 30px;
  }
  th#tableHeading{
    font-size: 25px;
  }
  th#tableRow{
    font-size: 20px;
  }

}
@media (max-width: 530px){
  div.hofHeading h1{
    font-size: 20px;
  }
  th#tableHeading{
    font-size: 15px;
  }
  th#tableRow{
    font-size: 10px;
  }

}
.hofHeading{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 100vw;
  background-color:#9cd944;
  text-align: center;
  height: 10vh;
}
.hofHeading h1{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  font-size: 60px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 10vh;

}
div.hofBody{
  padding: 2vh;
  color: black;
  font-weight: bold !important;

}
th#tableHeading{
  color: black;
  font-weight: bold !important;

}
th#tableRow{
  color: black;
  font-weight: bold !important;

}
body{
  font-weight: bold !important;
}