@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: bold !important;
    font-style: normal;
}
@media (max-width: 1600px){
    #giveTitle{font-size: 100px;}
    #shareTitle{font-size: 100px;}
    .leftSect h2{
      font-size: 40px;
    }
    .rightSect h2{
      font-size: 40px;
    }

}
@media (max-width: 1200px){
    #giveTitle{font-size: 80px;}
    #shareTitle{font-size: 80px;}
    .leftSect h2{
      font-size: 30px;
    }
    .rightSect h2{
      font-size: 30px;
    }


}
@media (max-width: 768px){
    #giveTitle{font-size: 60px;}
    #shareTitle{font-size: 60px;}
    .leftSect h2{
      font-size: 25px;
    }
    .rightSect h2{
      font-size: 25px;
    }

}

body
{
	background-color: #2e2e2e;
  font-weight: bold !important;

}

.home {
    font-size: 14px;
    line-height: 27px;
    background-color: #2e2e2e;
    font-weight: bold !important;

}

.home-login{
  background-color: #9cd944;
  height: 80vh;
  font-weight: bold !important;

}

.input.text{
  text-align: center;
  font-weight: bold !important;

}
/*. is class*/
.input.password{
  text-align: center;
  font-weight: bold !important;

}
/*# is id*/
#username{
  width: 60vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  margin-top: 5vh;
  margin-bottom: 1vh;

}
#password{
  width: 60vw;
  height: 7vh;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;

}
.loginSubmitButton{
  margin: 2vh;
  height: 7vh;
  width: 30vw;
  box-shadow: 5px 5px 5px grey;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: #f2d75e;
  font-weight: 700;
}
.home-login{
  text-align: center;
  font-weight: bold !important;


}
.forgottenPasswordLink{
	color: #23527c;
  font-size: 15px;
  font-weight: bold !important;


}
.signUpLink{
	color: #23527c;
  font-size: 15px;
  font-weight: bold !important;


}
.orWithLines{
  text-align: center;
  float: center;
  font-weight: bold !important;



}
.line{
  background-color: grey;
  height: 0.2vh;
  width: 30vw;
    display: inline-block;
    font-weight: bold !important;

}
.or{
  color: grey;
  font-size: 10px;
  display: inline-block;
  margin: 2vw;
  font-weight: bold !important;

}
.home-info-grey{
  padding: 5vw;
  font-weight: bold !important;


}
.leftSect{
  width: 40.0vw;
  float: left;
  text-align: center;
  font-weight: bold !important;


}
.rightSect{
  width: 40.0vw;
  float: right;
  text-align: center;
  font-weight: bold !important;


}



ul, ol, dl, p {
    font-size: 0.85rem;
}

p {
    line-height: 2;
}

header {
    height: auto;
    line-height: 1em;
    padding: 0;
    box-shadow: none;
}

header.row {
    margin-bottom: 30px;
}

header .header-image {
    text-align: center;
    padding: 64px 0;
}

header .header-title {
    padding: 0;
    display: block;
    background: #404041;
    text-align: center;
}

header .header-title h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 30px;
    color: #DEDED5;
}

header h1 {
    color: #fff;
}

h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 20px;
}

.more {
    color: #ffffff;
    background-color: #d33d44;
    padding: 15px;
    margin-top: 10px;
}

.row {
    max-width: 1000px;
}

.alert {
    background-color: #fff9e1;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 12px;
    border-bottom: 2px solid #ffcf06;
}

.alert {
    background-color: #fff9e1;
    font-size: 12px;
    display: block;
    padding: 12px;
    border-bottom: 2px solid #ffcf06;
    margin-bottom: 30px;
    color: #404041;
}

.alert p {
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
}

.alert p:before {
    color: #ffcf06;
    content: "\0055";
    font-family: 'cakefont', sans-serif;
    font-size: 21px;
    margin-left: -0.8em;
    width: 2.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px 0 15px;
    vertical-align: -2px;
}

.alert ul {
    margin: 0;
    font-size: 12px;
}

.alert.url-rewriting {
    background-color: #F0F0F0;
    border-color: #cccccc;
    display: none;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 0 30px 0;
}

li {
    padding-left: 1.8em;
}

ul li ul, ul li ul li {
    margin: 0;
    padding: 0;
}

.bullet:before {
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}

.success:before {
    color: #88c671;
    content: "\0056";
}

.problem:before {
    color: #d33d44;
    content: "\0057";
}

.cutlery:before {
    color: #404041;
    content: "\0059";
}

.book:before {
    color: #404041;
    content: "\0042";
    width: 1.7em;
}

hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: 30px;
}


.icon {
    color: #404041;
    font-style: normal;
    font-family: 'cakefont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.support {
    font-size: 60px;
}
.icon.docs {
    font-size: 57px;
}
.icon.training {
    font-size: 39px;
}

@media (min-width: 768px) {
    .columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) {
    header.row {
        max-width: 940px;
    }
}
