@media (max-width: 1600px){
  div.findHeading h1{
    font-size: 50px;
  }
  #toggleSearchButton{
    font-size: 25px;
  }
  #toggleFilters{
    font-size: 25px;
  }
  #filterButton{
    font-size: 25px;
  }
  #sortList{
    font-size: 25px;
  }
  #filterList{
    font-size: 25px;
  }
  #filterVar{
    font-size: 25px;
  }
  #dropdownMenu1{
    font-size: 25px;
  }
  div.itemBox h1{
    font-size: 40px;
  }
}
@media (max-width: 1200px){
  div.findHeading h1{
    font-size: 40px;
  }
  #toggleSearchButton{
    font-size: 15px;
  }
  #toggleFilters{
    font-size: 15px;
  }
  #filterButton{
    font-size: 20px;
  }
    #sortList{
    font-size: 20px;
  }
  #filterList{
    font-size: 20px;
  }
  #filterVar{
    font-size: 20px;
  }
  #dropdownMenu1{
    font-size: 20px;
  }
  div.itemBox h1{
    font-size: 30px;
  }

}
@media (max-width: 768px){
  div.findHeading h1{
    font-size: 30px;
  }
  #toggleButton{
    font-size: 10px;
  }
  #toggleSearchFilters{
    font-size: 10px;
  }
  #filterButton{
    font-size: 15px;
  }
    #sortList{
    font-size: 15px;
  }
  #filterList{
    font-size: 15px;
  }
  #filterVar{
    font-size: 15px;
  }
  #dropdownMenu1{
    font-size: 15px;
  }
  div.itemBox h1{
    font-size: 20px;
  }

}
@media (max-width: 530px){
  div.findHeading h1{
    font-size: 20px;
  }
  #toggleSearchButton{
    font-size: 7px;
  }
  #toggleFilters{
    font-size: 7px;
  }
  #filterButton{
    font-size: 10px;
  }
  #dropdownMenu1{
    font-size: 10px;
  }
  #sortList{
    font-size: 10px;
  }
  #filterList{
    font-size: 10px;
  }
  #filterVar{
    font-size: 10px;
  }
  div.itemBox h1{
    font-size: 15px;
  }
}
body{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold;
  background-color: #2e2e2e !important;

}
.itemBox{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 2vh;
  box-shadow: 5px 5px 5px grey;
}
.findHeading{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  background-color:#9cd944;
  float: left;
  margin-bottom:2vh;
}
.dropdown{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  display: inline-block;
  width: 25vw;
  text-align: center;
}
.dropdown button{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 20vw;
  border-color: black;
  border-width: 2px;
  height: 6vh;
}
.dropdown ul{
  margin-left: 2.5vw;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 20vw;
  border-color: black;
  border-width: 2px;
  text-align: center;

}
.dropdown li{
  margin: 0px;
  padding: 0px;
  font-weight: bold !important;

}

.findHeading h1{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  font-size: 60px;
  width: 50vw;
  display: inline-block;
  text-align: center;
  padding-bottom: 2vh;


}
.findHeading input#search{
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  height: 6vh;
  width: 95vw;
  font-size: 20px;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  border-color: black;
  border-width: 2px;
  text-align: center;
}
.infoDiv{
  display: inline-block;
  width: 40vw;
  font-weight: bold !important;

}
div.infoDiv{
}
.imageDiv{
  float:left;
  padding-top: 3vh;
    padding-right: 5vw;
  height: 40vh;
  width: 40vh;
  font-weight: bold !important;


}
img{
  margin-left: 2.5vw;
  height: 30vh;
  width: 30vw;
  border: 2vw;
  border-width: 2vw;
  border-color: black;
  font-weight: bold !important;


}
.pictureAndInfo{
  background-color: rgb(230,230,230);
  height: 60vh;
  margin: 10vh 10vw 10vh 10vw;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;


}
#toggleSearchButton{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 20vw;
  border-color: black;
  border-width: 2px;
  height: 6vh;
}
#toggleFilters{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
    width: 15vw;
  border-color: black;
  border-width: 2px;
  height: 6vh;
}

#searchterm{
  font-size: 20px;
  text-align: center;
  width: 95vw;
  height: 6vh;
  font-weight: bold !important;


}
#filterButton{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 26vw;
  background-color: #f2d75e;
  border-width: 0px;
  height: 6vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  margin-top: 2vh;
}
#filterList{
  font-weight: bold !important;
}
.sortAndFilterBy
{
	font-family:  Arial Rounded MT Bold, Nunito;
    background-color: rgb(230,230,230);
	box-shadow: 5px 5px 5px grey;
	width: 90vw;
	display: inline-block;
	padding-top: 2vh;
	padding-left: 20vw;
	padding-right: 20vw;
	margin-left: 5vw;
	margin-bottom: 3vh;
	font-weight: bold !important;
}
.submit
{
	margin-top:4vh;
	text-align: center;
  font-weight: bold !important;
}
.dropdownSortBy
{
	width: 20vw;
	display: inline-block;
	float:left;
	height:10vh;
  font-weight: bold !important;

}
.dropdownFilterBy
{
	width: 20vw;
	display: inline-block;
	float:right;
	padding-right: 1vw;
	height:10vh;
  font-weight: bold !important;

}
.enterFilter
{
	width: 10vw;
	display: inline-block;
	float:right;
	padding-right: 0.5vw;
	padding-top: 0;
	position: top;
  font-weight: bold !important;

}
.enterFilterButton
{
margin-bottom: 2vh;
font-weight: bold !important;
}

#sortList
{
	width: 18vw;
	display: inline-block;
	float:left;
	height:8vh;
	border-color: black;
    border-width: 2px;
  font-weight: bold !important;
}

#filterVar
{
	margin-top:1vh;
	margin-bottom:1vh;
	margin-left:1vh;
	width: 10vw;
	display: inline-block;
	float:right;
	height:6vh;
  font-weight: bold !important;
}

#filterList
{
	width: 18vw;
	display: inline-block;
	float:right;
	height:8vh;
	border-color: black;
    border-width: 2px;
}
#searchTerm{
	height:8vh;
  font-weight: bold !important;

}
#searchTerm{
	padding-bottom: 4vh;
	height: 8vh
  font-weight: bold !important;

}

placeholder
{

}
.searchDiv{

	padding-bottom: 3vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  text-align: center;
  font-weight: bold !important;

}
.searchDiv input{

  height: 5vh;
  font-weight: bold !important;

}
.searchDiv button{
  background-color: #f2d75e;
  width: 90vw;
  margin-bottom: 1vh;
  font-weight: bold !important;

}
.itemList{
  min-height: 100vh;
  font-weight: bold !important;

}