@media (max-width: 1600px){
  div.addHeading h1{
    font-size: 50px;
  }
  .btn.toggleAddButton{
    font-size: 25px;
  }
  #dropdownMenu1{
    font-size: 25px;
  }
  .items h2{
    font-size: 40px;
  }
  .expiredItems h2{
    font-size: 40px;
  }
  .claimedItems h2{
    font-size: 40px;
  }
  div.infoDiv h1{
    font-size: 40px;
  }
  label{
    font-size: 20px;
  }
  div.manualInputPanel h1{
    font-size: 50px;
  }
}
@media (max-width: 1200px){
  div.addHeading h1{
    font-size: 40px;
  }
  .btn.toggleAddButton{
    font-size: 15px;
  }
  #dropdownMenu1{
    font-size: 15px;
  }
  .items h2{
    font-size: 30px;
  }
  .expiredItems h2{
    font-size: 30px;
  }
  .claimedItems h2{
    font-size: 30px;
  }
  div.infoDiv h1{
    font-size: 30px;
  }
  label{
    font-size: 15px;
  }
  div.manualInputPanel h1{
    font-size: 40px;
  }
}
@media (max-width: 768px){
  div.addHeading h1{
    font-size: 30px;
  }
  .btn.toggleAddButton{
    font-size: 10px;
  }
  #dropdownMenu1{
    font-size: 10px;
  }
  .items h2{
    font-size: 20px;
  }
  .expiredItems h2{
    font-size: 20px;
  }
  .claimedItems h2{
    font-size: 20px;
  }
  div.infoDiv h1{
    font-size: 20px;
  }
  label{
    font-size: 10px;
  }
  div.manualInputPanel h1{
    font-size: 30px;
  }
}
@media (max-width: 530px){
  div.addHeading h1{
    font-size: 20px;
  }
  .btn.toggleAddButton{
    font-size: 7px;
  }
  #dropdownMenu1{
    font-size: 7px;
  }
  .items h2{
    font-size: 15px;
  }
  .expiredItems h2{
    font-size: 15px;
  }
  .claimedItems h2{
    font-size: 15px;
  }
  div.infoDiv h1{
    font-size: 15px;
  }
  label{
    font-size:7px;
  }
  div.manualInputPanel h1{
    font-size: 20px;
  }
}
body{
  min-height: 100vh;
  background-color: #2e2e2e !important;
}
.addHeading{
  text-align: center;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color:#9cd944;
  width: 100vw;
  float: right;
  display: inline-flex;
  align-items: center;

}
.addHeading h1{
  width: 50vw;
  display: inline-block;
  font-weight: bold !important;
  font-size: 60px;
  padding-bottom: 2vh;
  text-align: center;
  float: right;
}
div.manualInputPanel h1{
  text-align: center;
  font-weight: bold !important;

}
.greyGivePanel{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: rgb(230, 230, 230);
  display:inline-block;
  width: 100vw;
}
div.input{
  display:inline-block;
  width:90vw;
  margin-top: 2vh;
  font-weight: bold !important;

}
input{
  height: 5vh;
  font-weight: bold !important;

}
input#barcode{
  display:inline-block;
  float: right;
  width: 75vw;
  height: 5vh;
  font-size: 14px;
  font-weight: bold !important;


}
input#name{
  display:inline-block;
  float: right;
  width: 75vw;
  height: 5vh;
  font-size: 14px;
  font-weight: bold !important;


}
input#description{
  display:inline-block;
  float:right;
  width: 75vw;
  height: 5vh;
  font-size: 14px;
  font-weight: bold !important;

a
}
input#photo{
    display:inline-block;
    float:right;
    width: 75vw;
    height: 5vh;
    font-weight: bold !important;

}
select#food-type{
  float:right;
  width: 75vw;
  height: 5vh;
  font-weight: bold !important;

}
select#type{
  float: right;
  width: 75vw;
  height: 5vh;
  font-weight: bold !important;

}
label{
  float: left;
  padding-top: 0.5vh;
  font-weight: bold !important;

}
select{
  float: right;
  font-size: 20px;
  height: 5vh;
  font-weight: bold !important;

}
.manualInputPanel{

  padding: 2vh;
  width: 95vw;
  background-color: rgb(250,250,250);
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 2vh;
  font-weight: bold !important;
  margin-left: 2.5vw; 
  margin-right: 2.5vw;
  padding-bottom: 2vw;

}
.barcodeStuff
{
	margin-left: 4vw;
	margin-right: 4vw;
}

.btn.gotTheBarcode
{
	width: 70vw;
	margin-top: 2vw;
	margin-left: 14vw;
	margin-right: 14vw;
	background-color: white;
}

button{
    background-color:#f2d75e;
    width: 90vw;
    box-shadow: 5px 5px 5px grey;
    font-weight: bold !important;

}
fieldset{
  width: 90vw;
  display: inline-block;
  font-weight: bold !important;

}
.itemBox{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 2vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-flex;
  align-items: center;
  width: 95vw;
  font-weight: bold !important;

}
.imageDiv{
  display: inline-flex;
  align-items: center;
  float: left;
  margin-right: 2.5vw;
  padding: 0;
  height: 30vh;
  width: 30vh;
  font-weight: bold !important;

}
img{
  height: 30vh;
  width: 30vh;
  border: 2vw;
  border-width: 2vw;
  border-color: black;
  font-weight: bold !important;

}
.toggleAddButton{
  height: 6vh;
  padding-top: 2vh;
  width: 15vw;
  float: right;
  font-weight: bold !important;

}
.addButtonDiv{
  width: 25vw;
  float: right;
  top: 50%;
  vertical-align: middle;
  font-weight: bold !important;

}
.pictureAndInfo{
  background-color: rgb(230,230,230);
  height: 60vh;
  margin: 10vh 10vw 10vh 10vw;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold !important;


}
.infoDiv{
  display: inline-block;
  width: 40vw;
  float: right;
  font-weight: bold !important;

}
.items{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.items h2{
  /*font-size: 40px;*/
  margin-top: 5vh;
  margin-left: 5vw;
  font-weight: bold !important;

  /*padding: 2vh;*/
}
.items h1{
  font-size: 30px;
  font-weight: bold !important;

  /*padding: 2vh;*/
}
.expiredItems{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.expiredItems h2{
  /*font-size: 40px;*/
  margin-top: 5vh;
  margin-left: 5vw;
  font-weight: bold !important;

  /*padding: 2vh;*/
}
.expiredItems h1{
  font-size: 30px;
  font-weight: bold !important;

  /*padding: 2vh;*/
}
.claimedItems{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.claimedItems h2{
  /*font-size: 40px;*/
  margin-top: 5vh;
  margin-left: 5vw;
  font-weight: bold !important;

  /*padding: 2vh;*/
}
.claimedItems h1{
  font-size: 30px;
  font-weight: bold !important;

  /*padding: 2vh;*/
}

.expiredItemBox{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: rgb(255,210,210);
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 2vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-flex;
  align-items: center;
  width: 95vw;
}
.claimedItemBox{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: rgb(210,255,210);
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 2vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-flex;
  align-items: center;
  width: 95vw;
}
.currentItems{
  display: inline-block;
  font-weight: bold !important;

}
.emptyItems{
  margin-left: 10vw;
  font-weight: bold !important;

}
.dropdown{
  width: 25vw;
  font-weight: bold !important;

}
.dropdown button{
  width: 15vw;
  height: 6vh;
  border-width: 2px;
  border-color: black;
  font-weight: bold !important;

}
ul.dropdown-menu{
  margin-left: 7vw;
  z-index: 1000000;
  font-weight: bold !important;

}
.allItems{
  min-height: 100vh;
  font-weight: bold !important;

}
h2{
  display: inline-block;
  font-weight: bold !important;

}
.frequent.items{
  display: inline-block;
  margin-bottom: 2vh;
  font-weight: bold !important;

}
#itemsList{

}
.frequent
{
	text-align: center;
}

button#submitButton
{
	width:60vw;
	height: 6vh;
}
#submitButtonDiv
{
	height: 8vh;
	/*margin-bottom: 2vh;*/
	padding-bottom: 2vh;
}
.manualInputPanelDiv{
  text-align: center;
  font-weight: bold !important;
 
	padding-bottom: 2vh;

}
.manualInputPanel{


}
.frequentItemsTitle label{
  font-size: 20px;
  font-weight: bold !important;

}