@media (max-width: 1600px){
  div.findHeading h1{
    font-size: 50px;
  }
  button{
    font-size: 25px !important;
  }

}
@media (max-width: 1200px){
  div.findHeading h1{
    font-size: 40px;
  }
  button{
    font-size:20px !important;
  }

}
@media (max-width: 768px){
  div.findeHeading h1{
    font-size: 30px;
  }
  button{
    font-size: 15px !important;
  }

}
@media (max-width: 530px){
  div.findHeading h1{
    font-size: 20px;
  }
  button{
    font-size:10px !important;
  }

}
.findHeading{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  background-color:#9cd944;
  float: left;
  text-align: center;
  font-weight: bold !important;

}
.findHeading h1{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  font-size: 60px;
  width: 50vw;
  display: inline-block;
  text-align: center;
  padding-bottom: 2vh;



}
.findHeading input#search{
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  height: 6vh;
  width: 95vw;
  font-size: 20px;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  border-color: black;
  border-width: 2px;
  text-align: center;
}
.button{
  display: inline-flex;
  align-items: center;
  background-color: #9cd944;
  font-weight: bold !important;

}
.reserveButton{
  background-color: #f2d75e;
  color: black;
  border-radius: 4px;
  font-weight: bold !important;

}
.deleteButton{
  border-radius: 4px;
  background-color: red;
  font-weight: bold !important;

}
.pictureAndInfo{
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: rgb(230,230,230);
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  width: 80vw;
  font-weight: bold !important;

}

.itemsInfo{

  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  padding-left: 3vw;
  padding-top: 1vh;
  padding-right: 2vw;
  float: left;
  width: 40vw;

}
.space{
  height: 10vh;
  font-weight: bold !important;

}
img{
  margin-left: 2.5vw;
  height: 60vh;
  width: 30vw;
  border: 2vw;
  border-width: 2vw;
  border-color: black;
  font-weight: bold !important;

}
.toggleEditItem{
  /*width: 25vw;*/
  float: right;
  top: 50%;
  vertical-align: middle;
  margin: 0;
  font-weight: bold !important;

}
div.button{
  width: 25vw;
  font-weight: bold !important;

}
button{
    background-color:#f2d75e;
    box-shadow: 5px 5px 5px grey;
    width: 15vw;
    float: left;
    /*top: 50%; BREAKS IE*/
    vertical-align: middle;
    border-radius: 4px;
    height: 6vh;
    font-family: Varela Round, Arial Rounded MT Bold, Nunito;
    font-weight: bold !important;

}
#backButton{
  float: left;
  margin: 0;
  height: 10vh;
  text-align: center;
  font-weight: bold !important;


}

#editButton{
  float: right;
  margin: 0;
  font-weight: bold !important;

}
.greyDiv{
  margin-left: 10vw;
  width: 100vw;
  text-align: left;
  font-weight: bold !important;

}