@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  background-color: #2e2e2e;
}
@media (max-width: 1600px){
    #mainPageTitle{font-size: 50px;}
    .bottom-nav h1{
        font-size: 40px;
    }

}
@media (max-width: 1200px){
    #mainPageTitle{font-size: 40px;}
    .bottom-nav h1{
        font-size: 20px;
    }

}
@media (max-width: 768px){
    #mainPageTitle{font-size: 30px;}
    .bottom-nav h1{
        font-size: 15px;
    }

}

.title{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30vw;
  height: 10vh;
  font-weight: bold !important;

}
.loggedOutBottomNavLeft{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 48vw;
  height: 10vh;
  float: left;
  font-weight: bold !important;

}
.loggedOutBottomNavRight{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 48vw;
  height: 10vh;
  float: left;
  font-weight: bold !important;

}
a#mainPageTitle{
  height: inherit;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  font-weight: bold !important;

}

a#navBarOptions-privacy{
	  height: inherit;
    font-family: Varela Round, Arial Rounded MT Bold, Nunito;
    font-weight: bold !important;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
a#navBarOptions-contact{
	  height: inherit;
    font-family: Varela Round, Arial Rounded MT Bold, Nunito;
    font-weight: bold !important;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}



.navbar{
  border-radius: 0;
  border: none;
  background-color: #2e2e2e;
  text-align: center;
  margin-bottom: 0px;
  border-width: 0px;
  color: #FFFFFF;
  font-weight: bold !important;

}
.navbar-default{
  background-color: #2e2e2e;
  color: #FFFFFF;
  font-weight: bold !important;

}

.bottom-nav{
  display: inline_block;
  color: white;
  font-weight: 700;
  background-color: #2e2e2e;
  color: #FFFFFF;
  font-weight: bold !important;

}



ul, ol, dl, p {
    font-size: 0.85rem;
}

p {
    line-height: 2;
}

header {
    height: auto;
    line-height: 1em;
    padding: 0;
    box-shadow: none;
}

header.row {
    margin-bottom: 30px;
}

header .header-image {
    text-align: center;
    padding: 64px 0;
}

header .header-title {
    padding: 0;
    display: block;
    background: #404041;
    text-align: center;
}

header .header-title h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 30px;
    color: #FFFFFF;
}

header h1 {
    color: #FFFFFF;
}

h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 20px;
}

.more {
    color: #ffffff;
    background-color: #d33d44;
    padding: 15px;
    margin-top: 10px;
}

.row {
    max-width: 1000px;
}

.alert {
    background-color: #fff9e1;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 12px;
    border-bottom: 2px solid #ffcf06;
}

.alert {
    background-color: #fff9e1;
    font-size: 12px;
    display: block;
    padding: 12px;
    border-bottom: 2px solid #ffcf06;
    margin-bottom: 30px;
    color: #404041;
}

.alert p {
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
}

.alert p:before {
    color: #ffcf06;
    content: "\0055";
    font-family: 'cakefont', sans-serif;
    font-size: 21px;
    margin-left: -0.8em;
    width: 2.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px 0 15px;
    vertical-align: -2px;
}

.alert ul {
    margin: 0;
    font-size: 12px;
}

.alert.url-rewriting {
    background-color: #F0F0F0;
    border-color: #cccccc;
    display: none;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 0 30px 0;
}

li {
    padding-left: 1.8em;
}

ul li ul, ul li ul li {
    margin: 0;
    padding: 0;
}

.bullet:before {
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}

.success:before {
    color: #88c671;
    content: "\0056";
}

.problem:before {
    color: #d33d44;
    content: "\0057";
}

.cutlery:before {
    color: #404041;
    content: "\0059";
}

.book:before {
    color: #404041;
    content: "\0042";
    width: 1.7em;
}

hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: 30px;
}


.icon {
    color: #404041;
    font-style: normal;
    font-family: 'cakefont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.support {
    font-size: 60px;
}
.icon.docs {
    font-size: 57px;
}
.icon.training {
    font-size: 39px;
}

@media (min-width: 768px) {
    .columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) {
    header.row {
        max-width: 940px;
    }
}
