.userProfile
{
	text-align:center;
}

li
{
	font-size: 14px;
}

td
{
	font-size: 14px!important;
}
th
{
	font-size: 14px!important;
}


@media (max-width: 1600px){
  div.profileHeading h1{
    font-size: 50px;
  }
  button{
    font-size:25px;
  }
}
@media (max-width: 1200px){
  div.profileHeading h1{
    font-size: 40px;
  }
  button{
    font-size:15px;
  }
}
@media (max-width: 768px){
  div.profileHeading h1{
    font-size: 30px;
  }
  button{
    font-size:10px;
  }
}
@media (max-width: 530px){
  div.profileHeading h1{
    font-size: 20px;
  }
  button{
    font-size:7px;
  }
}

img.profilePicture{
  height: 20vh;
  width: 20vw;
  display: block;
  /* display: center; */
  border-width: 10px;
  border-style: visible;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
	font-weight: bold !important;

}

button{
    background-color:#f2d75e;
    width: 90vw;
    box-shadow: 5px 5px 5px grey;
    width: 15vw;
    float: left;
    /*top: 50%; BREAKS IE*/
    vertical-align: middle;
    border-radius: 4px;
	color: #2e2e2e;
	font-weight: bold !important;

}

.toggleEditUser{
  height: 10vh;
  width: 25vw;
  float: right;
  top: 50%;
  display: inline-flex;
  align-items: center;
	font-weight: bold !important;

}
.EditUserDiv{
  width: 25vw;
  float: right;
  top: 50%;
  vertical-align: middle;
	font-weight: bold !important;

}
body{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
}
.profileHeading{
  text-align: center;
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold;
  background-color:#9cd944;
  width: 100vw;
  float: right;
  display: inline-flex;
  align-items: center;
	font-weight: bold !important;


}
.profileHeading h1{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold;
  width: 50vw;
  display: inline-block;
  text-align: center;
  padding-bottom: 2vh;
	font-weight: bold !important;


}
.profileInformation{
  min-height: 100vh;
	font-weight: bold !important;

}
h2{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold;
  font-size: 35px;
  text-align: center;
	font-weight: bold !important;

}
h4{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold;
  font-size: 25px;
  text-align: center;
	font-weight: bold !important;

}
.container{
  overflow: visible;
}

#blockButton
{
	background-color: #ED231F;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold !important;

}
.blockButton{
	align-items:center;
	text-align: center;
	margin-bottom: 4vh;
	font-weight: bold !important;

}

img.greyscaleIMG{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	font-weight: bold !important;

}
.achievementsCenter
{
	text-align:center;
	font-weight: bold !important;

}
.user-details
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-top: 3vh;
  padding-bottom: 5vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  text-align: center;
  width: 95vw;
  font-size: 18px;
}
.posted-items{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-top: 1vh;
  padding-bottom: 5vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-top: 5vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  text-align: center;
  width: 95vw;
}

.reserved-items
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-top: 1vh;
  padding-bottom: 5vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-top: 5vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  text-align: center;
  width: 95vw;
}
.achievements
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-top: 1vh;
  padding-bottom: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  text-align: center;
  width: 95vw;
}
.award1
{
	width: 30vw;
	float: left;
	display: inline-block;
	font-weight: bold !important;

}
.award2
{
	width: 30vw;
		float: center;
	display: inline-block;
	font-weight: bold !important;

}
.award3
{
	width: 30vw;
		float: right;
	display: inline-block;
	font-weight: bold !important;

}

button{
  height: 6vh;
  padding: 0;
	font-weight: bold !important;

}
/*
.itemBox{
  font-family:  Arial Rounded MT Bold, Nunito;
  background-color: rgb(230,230,230);
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 2vh;
  box-shadow: 5px 5px 5px grey;
}

}
.dropdown{
  font-family:  Arial Rounded MT Bold, Nunito;
  display: inline-block;
  width: 25vw;
  text-align: center;
}
.dropdown button{
  font-family:  Arial Rounded MT Bold, Nunito;
  width: 20vw;
  border-color: black;
  border-width: 2px;
  height: 6vh;
}
.dropdown ul{
  margin-left: 2.5vw;
  font-family:  Arial Rounded MT Bold, Nunito;
  width: 20vw;
  border-color: black;
  border-width: 2px;
  text-align: center;

}
.dropdown li{
  margin: 0px;
  padding: 0px;
}


.findHeading input#search{
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  height: 6vh;
  width: 95vw;;
  font-size: 20px;
  font-family:  Arial Rounded MT Bold, Nunito;
  border-color: black;
  border-width: 2px;
  text-align: center;
}
.infoDiv{
  display: inline-block;
  width: 40vw;
}
div.infoDiv{
}
.imageDiv{
  float:left;
  padding-top: 3vh;
    padding-right: 5vw;
  height: 40vh;
  width: 40vh;

}
img{
  margin-left: 2.5vw;
  height: 30vh;
  width: 30vw;
  border: 2vw;
  border-width: 2vw;
  border-color: black;

}
.pictureAndInfo{
  background-color: rgb(230,230,230);
  height: 60vh;
  margin: 10vh 10vw 10vh 10vw;
  box-shadow: 5px 5px 5px grey;

}
*/