@media (max-width: 1600px){
  div.notificationHeading h1{
    font-size: 50px;
  }

  .notificationTitle {
      font-size: 40px;
  }

  .noNotifications {
      font-size: 35px;
  }

  .read-notification {
      font-size: 30px;
  }
  .unread-notification {
      font-size: 30px;
  }
  button{
    font-size:25px;
  }
}
@media (max-width: 1200px){
  div.notificationHeading h1{
    font-size: 40px;
  }
  .notificationTitle {
      font-size: 30px;
  }
  .noNotifications {
      font-size: 25px;
  }

  .read-notification {
      font-size: 20px;
  }

  .unread-notification {
      font-size: 20px;
  }
  button{
    font-size:15px;
  }
}
@media (max-width: 768px){
  div.notificationHeading h1{
    font-size: 30px;
  }
  .notificationTitle {
      font-size: 20px;
  }
  .noNotifications {
      font-size: 15px;
  }
  .read-notification {
      font-size: 15px;
  }

  .unread-notification {
      font-size: 15px;
  }
  button{
    font-size:10px;
  }
}
@media (max-width: 530px){
  div.notificationHeading h1{
    font-size: 20px;
  }
  .notificationTitle {
      font-size: 15px;
  }
  .noNotifications {
      font-size: 10px;
  }
  .read-notification {
      font-size: 10px;
  }
  button{
    font-size:7px;
  }
}


.notificationMain {
    min-height: 100vh;
    background-color: #fffff;
    font-weight: bold !important;

}

.notificationHeading {
	text-align: center;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
	background-color: #9cd944;
	width: 100vw;
	float: right;
	display: inline-flex;
	align-items: center;
}

.notificationHeading h1 {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
	width: 50vw;
	display: inline-block;
	text-align: center;
	padding-bottom: 2vh;
  font-size: 50px;
}

.notificationTitle {
    width: 100vw;
    text-align: center;
    font-weight: bold !important;
    display: inline-block;

}

.read-notification {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
	background-color: rgb(230,230,230);
	/* padding-left: 3vw; */
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 2.5vw;
	margin-top: 2vh;
	box-shadow: 5px 5px 5px grey;
	display: inline-block;
	/* align-items: center; */
	text-align: center;
	width: 95vw;
}

.unread-notification {
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
	background-color: rgb(230,230,230);
	/* padding-left: 3vw; */
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 2.5vw;
	margin-top: 2vh;
	box-shadow: 5px 5px 5px grey;
	display: inline-block;
	/* align-items: center; */
	text-align: center;
	width: 95vw;
}

.noNotifications {
	width: 100vw;
	text-align: center;
	padding-bottom: 5vh;
  font-weight: bold !important;

}

nav.navbar.navbar-default{
  border-radius: 0;
}
.navbar{
  border-radius: 0;
  font-weight: bold !important;

}
body{
  background-color: #2e2e2e;
  font-weight: bold !important;

}

button{
    background-color:#f2d75e;
    width: 90vw;
    box-shadow: 5px 5px 5px grey;
    width: 15vw;
    float: left;
    /*top: 50%; BREAKS IE*/
    vertical-align: middle;
    border-radius: 4px;
	color: #2e2e2e;
  font-weight: bold !important;

}

.toggleAlerts {
	height: 10vh;
	width: 25vw;
	float: right;
	top: 50%;
	display: inline-flex;
	align-items: center;
  font-weight: bold !important;

}

#halloffame{
	height: 10vh;
	top: 50%;
	display: inline-flex;
	align-items: center;
  font-weight: bold !important;
  float: right;
}
#halloffame button{
  float: right;
  width: 20vw;
}
