.findAndGive{
  height: 80vh;
  background-color: white;
  font-weight: bold !important;

}
.leftFind{
  height:80vh;
  float:left;
  width: 50vw;
  background-color: #9cd944;
  padding: 10vh;
  text-align: center;
  font-weight: bold !important;

}
.leftFind h1{
  font-size: 80px;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;
}
.rightGive{
  height: 80vh;
  width: 50vw;
  float:left;
  padding-bottom: 10vh;
  text-align: center;
  font-weight: bold !important;

}
.rightGive h1{
  font-size: 80px;
  font-family: Varela Round, Arial Rounded MT Bold, Nunito;
  font-weight: bold !important;

}
.whatIsGH{
  height:90vh;
  background-color: #d6d4d3;
  font-weight: bold !important;

}
.findImage{
  height:60vh;
  font-weight: bold !important;

}
.sepLine{
  height: 1vh;
  background-color: white;
  font-weight: bold !important;

}
.whyUseGH{
  height: 90vh;
  background-color: #d6d4d3;
  font-weight: bold !important;

}
.giveImage{
  height: 60vh;
  font-weight: bold !important;

}