.editUserPage
{
	text-align: center;
	min-height: 120vh;
	font-weight: bold !important;

}

.editUserForm
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
  background-color: rgb(230,230,230);
  padding-top: 1vh;
  padding-bottom: 5vh;
  margin-top: 5vh;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  text-align: center;
  width: 95vw;
}
.editUserFormNarrow
{
	text-align: center;
	width: 70vw;
	display: inline-block;
	font-weight: bold !important;

}

label
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
	font-size:16px;
}
input
{
	font-family: Varela Round, Arial Rounded MT Bold, Nunito;
	font-weight: bold !important;
	font-size:18px;
}
/*
.findAndGive{
  height: 80vh;
  background-color: white;
}
.leftFind{
  height:80vh;
  float:left;
  width: 50vw;
  background-color: #9cd944;
  padding: 10vh;
  text-align: center;
}
.leftFind h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;
}
.rightGive{
  height: 80vh;
  width: 50vw;
  float:left;
  padding-bottom: 10vh;
  text-align: center;
}
.rightGive h1{
  font-size: 80px;
  font-family: Arial Rounded MT Bold, Nunito;

}
.whatIsGH{
  height:90vh;
  background-color: #d6d4d3;
}
.findImage{
  height:60vh;
}
.sepLine{
  height: 1vh;
  background-color: white;
}
.whyUseGH{
  height: 90vh;
  background-color: #d6d4d3;
}
.giveImage{
  height: 60vh;
}
*/